h1{
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
body{
  background-image: url(https://media.lolusercontent.com/api/embedly/1/image/resize?url=http%3A%2F%2Fvignette2.wikia.nocookie.net%2Fyuzura%2Fimages%2Fb%2Fbf%2FRainbow_Chicken_Dance_Man.gif%2Frevision%2Flatest%3Fcb%3D20130622001918&key=f0abbd34f14549f3a15cd94dd9970851&width=425);
  background-color: white;
  font-family: ubuntu;
}
h3{
  text-align: center;
}
#profilepic{
  width: 100px;
  height: 100px;
}

li{
  color: black;
}
a{
  color: black;
}
#cookies {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  background-color: #222;
  text-align: center;
}

#back{
  text-align: center;
}

th{
  border: 2px solid black;
  background-color: rgb(200, 200, 200);
  border-collapse: collapse;
}

table, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

#icono{
  width: 12px;
  height: 12px;
}